###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> locals ###
# dependencies
/config/dependencies/*.local.php
###< locals ###

###> Composer ###
composer.lock
###< Composer ###

###> generated ###
/src/Base/Selectors
!/src/Base/Selectors/AbstractSelector.php
###< generated ###

###> IDE ###
# IDE PhpStorm
.idea
###< IDE ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
