###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> locals ###
# dependencies
/config/dependencies/*.local.php
###< locals ###

###> Composer ###
composer.lock
###< Composer ###

###> IDE ###
# IDE PhpStorm
.idea
###< IDE ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
